Repository statisticsnorway/microdata-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, uv-lock

ruff-format:
  name: Ruff Format
  entry: uv run ruff format
  language: system
  args:
  - --check

ruff-lint:
  name: Ruff Lint
  entry: uv run ruff check
  language: system
  args:
  - --force-exclude
  - --fix

uv-lock:
  name: Sync uv Lock
  entry: uv sync
  language: system
  pass_filenames: false

Watch RSS MiB memory
  microdata_tools/validation/steps/dataset_accumulated_validator.py
  microdata_tools/validation/steps/mem_watcher.py
  scripts/perf_once.sh
  tests/test_validation/test_validate_big_datasets_old.py
Due: ruff-format, ruff-lint

gitignore
  .gitignore
Due: none

measure RSS MiB mem in overlap validation phase
  microdata_tools/validation/steps/overlap_validator.py
  microdata_tools/validation/steps/overlap_validator_worker.py
Due: ruff-format, ruff-lint

Express RSS MiB mem at program exit
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

...
  microdata_tools/validation/__init__.py
  microdata_tools/validation/steps/mem_watcher.py
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

...
  scripts/perf_once.sh
Due: none

Clean up
  scripts/focus_once.sh
  scripts/focus_watch.sh
  scripts/init.sh
  scripts/perf_info.py
  scripts/perf_once.sh
Due: ruff-format, ruff-lint

dependabot for updates
  .github/dependabot.yml
  uv.lock
Due: uv-lock

sync and changed groups and interval
  .github/dependabot.yml
  uv.lock
Due: uv-lock

actions: replace unmaintained action
  .github/workflows/test-and-publish.yaml
Due: none

actions: set tag used by release-drafter
  .github/workflows/test-and-publish.yaml
Due: none

wip
  scripts/perf_old.sh
  scripts/test_once.sh
  scripts/test_watch.sh
Due: none

require / doc sar
  scripts/perf_old.sh
  scripts/perf_once.sh
Due: none

wip
  microdata_tools/validation/__init__.py
  microdata_tools/validation/steps/dataset_fixed_validator.py
  microdata_tools/validation/steps/dataset_validator.py
  tests/log_setup.py
Due: ruff-format, ruff-lint

wip
  microdata_tools/validation/steps/overlap_validator.py
  microdata_tools/validation/steps/overlap_validator_worker.py
  pytest.ini
  tests/test_validation/test_validate_big_datasets.py
  tests/test_validation/test_validate_big_datasets_old.py
Due: ruff-format, ruff-lint

New unity type for utility unit
  microdata_tools/validation/components/unit_type_variables/BRUKSENHET.json
Due: none

begin check post parquet write oom possibility
  microdata_tools/validation/steps/data_reader.py
  microdata_tools/validation/steps/dataset_accumulated_validator.py
  pytest.ini
  scripts/find_oom.sh
  tests/test_validation/test_make_big_parquet_file.py
  tests/test_validation/test_validate_big_datasets.py
  tests/test_validation/test_validate_big_datasets_old.py
Due: ruff-format, ruff-lint

begin check post parquet write oom possibility
  microdata_tools/validation/steps/old_init.py
  pytest.ini
  scripts/find_oom.sh
  tests/test_validation/test_make_big_parquet_file.py
Due: ruff-format, ruff-lint

begin check post parquet write oom possibility
  microdata_tools/validation/adapter/local_storage.py
  microdata_tools/validation/steps/old_init.py
Due: ruff-format, ruff-lint

OOM at 120M rows with 2GB ram
  scripts/find_oom.sh
  tests/log_setup.py
Due: ruff-format, ruff-lint

new_unit_type_utility_unit: added to all files
  microdata_tools/validation/components/unit_id_types.py
  microdata_tools/validation/components/unit_type_variables/BRUKSENHET.json
  microdata_tools/validation/components/unit_type_variables/__init__.py
  microdata_tools/validation/model/metadata.py
Due: ruff-format, ruff-lint

new_unit_type_utility_unit: bump minor version
  pyproject.toml
Due: uv-lock

new_unit_type_utility_unit: added to all files (#112)
  microdata_tools/validation/components/unit_id_types.py
  microdata_tools/validation/components/unit_type_variables/BRUKSENHET.json
  microdata_tools/validation/components/unit_type_variables/__init__.py
  microdata_tools/validation/model/metadata.py
  pyproject.toml
Due: ruff-format, ruff-lint, uv-lock

WIP
  microdata_tools/validation/__init__.py
  microdata_tools/validation/steps/config.py
  microdata_tools/validation/steps/data_reader.py
  microdata_tools/validation/steps/dataset_accumulated_validator.py
  microdata_tools/validation/steps/dataset_fixed_validator.py
  microdata_tools/validation/steps/dataset_validator.py
  microdata_tools/validation/steps/overlap_validator.py
  microdata_tools/validation/steps/overlap_validator_worker.py
  scripts/find_oom.sh
  scripts/perf_once.sh
  tests/test_packaging/test_package_dataset.py
  tests/test_validation/test_make_big_parquet_file.py
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

WIP
  microdata_tools/validation/steps/config.py
  pyproject.toml
  pytest.ini
  scripts/perf_once.sh
  scripts/viz.sh
  scripts/viz_watch.sh
  tests/test_validation/docs/test_examples.py
  tests/test_validation/test_parse_mem_usage.py
  tests/test_validation/test_validate_big_datasets.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

WIP
  mise-tasks/format
  scripts/viz.sh
  scripts/viz_watch.sh
  tests/log_setup.py
  tests/test_validation/test_parse_mem_usage.py
Due: ruff-format, ruff-lint

WIP
  scripts/perf_once.sh
Due: none

Document OOM in new iterative style
  .gitignore
  error_logs/error_db_or_disk_full.txt
  error_logs/mem_new.log
  error_logs/oom_new.txt
  scripts/viz.sh
  tests/test_validation/test_parse_mem_usage.py
Due: ruff-format, ruff-lint

Document OOM
  report/oom.md
  report/plot.png
Due: none

Document OOM
  report/oom.md
Due: none

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  uv-lock: any of: ^(pyproject.toml|uv.lock)$
