Repository statisticsnorway/microdata-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, uv-lock

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: Ruff Format
        entry: uv run ruff format
        language: system
        types: [python]
        args: [--check] 

      - id: ruff-lint
        name: Ruff Lint
        entry: uv run ruff check
        language: system
        types: [python]
        args: [--force-exclude, --fix] 

      - id: uv-lock
        name: Sync uv Lock
        entry: uv sync
        language: system
        files: ^(pyproject.toml|uv.lock)$
        pass_filenames: false

build: update permissions for deploy mkdocs to allow write access
  .github/workflows/docs-deploy.yml
Due: none

zizmor: add Zizmor scanner for GitHub Actions files to precommit
  .pre-commit-config.yaml
Due: none

zizmor: fix findings
  .github/dependabot.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/pr-test.yaml
  .github/workflows/test-and-publish.yaml
  pyproject.toml
  uv.lock
Due: uv-lock

Analyze workflows with zizmor - a GitHub Actions security scanner (#131)
  .github/dependabot.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/pr-test.yaml
  .github/workflows/test-and-publish.yaml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: uv-lock

build: add conditional checks for package build and release notes publishing
  .github/workflows/test-and-publish.yaml
Due: none

build: gh-deploy works by performing a git push so it needs credentials
  .github/workflows/docs-deploy.yml
Due: none

build: remove unnecessary python-version specification from docs-deploy.yml
  .github/workflows/docs-deploy.yml
Due: none

build: add Python setup step in docs-deploy.yml
  .github/workflows/docs-deploy.yml
Due: none

build: add Zizmor security scanner action to PR workflow
  .github/workflows/pr-test.yaml
Due: none

build: update version tag for pypa/gh-action-pypi-publish in test-and-publish.yaml
  .github/workflows/test-and-publish.yaml
Due: none

build: disable online audits to get same results as locally
  .github/workflows/pr-test.yaml
Due: none

Upgrade dependencies
  pyproject.toml
  uv.lock
Due: uv-lock

Update docs-deploy.yml
  .github/workflows/docs-deploy.yml
Due: none

Bump MINOR version from 1.13.1 => 1.14.0
  pyproject.toml
  uv.lock
Due: uv-lock

The following works on a VM with 1 GB RAM:
  .gitignore
  microdata_tools/validation/__init__.py
  microdata_tools/validation/adapter/local_storage.py
  microdata_tools/validation/steps/data_reader.py
  microdata_tools/validation/steps/dataset_validator.py
  pyproject.toml
  tests/test_data.py
  tests/test_validation/steps/test_data_reader.py
  tests/test_validation/steps/test_dataset_validator.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

replace MD5 checksum with SHA256
  microdata_tools/packaging/__init__.py
  microdata_tools/packaging/_decrypt.py
  microdata_tools/packaging/_encrypt.py
  microdata_tools/packaging/_utils.py
  tests/resources/packaging/input_unpackage/VALID.tar
  tests/test_packaging/test_package_dataset.py
Due: ruff-format, ruff-lint

Bump cryptography to v50
  pyproject.toml
  uv.lock
Due: uv-lock

Bump PATCH version from 2.0.0 => 2.0.1
  pyproject.toml
  uv.lock
Due: uv-lock

Added support for the stop-column to be empty for FIXED dataset
  microdata_tools/validation/steps/data_reader.py
  microdata_tools/validation/steps/dataset_validator.py
  microdata_tools/validation/steps/metadata_enricher.py
  tests/resources/validation/steps/data_reader/FIXED.csv
  tests/resources/validation/steps/data_reader/FIXED_DEPRECATED_STOP.csv
Due: ruff-format, ruff-lint

Updated tests and added a Legacy FIXED to ensure FIXED with stop column still works.
  tests/resources/validation/steps/metadata_enricher/VALID_FIXED_METADATA.json
  tests/resources/validation/validate_dataset/expected/LEGACY_FIXED.json
  tests/resources/validation/validate_dataset/input_directory/LEGACY_FIXED/LEGACY_FIXED.csv
  tests/resources/validation/validate_dataset/input_directory/LEGACY_FIXED/LEGACY_FIXED.json
  tests/resources/validation/validate_dataset/input_directory/SYNT_PERSON_MOR/SYNT_PERSON_MOR.csv
  tests/test_data.py
  tests/test_validation/steps/test_data_reader.py
  tests/test_validation/steps/test_dataset_validator.py
  tests/test_validation/steps/test_metadata_enricher.py
  tests/test_validation/test_validate_big_datasets.py
  tests/test_validation/test_validate_dataset.py
Due: ruff-format, ruff-lint

Updated tests and added a Legacy FIXED to ensure FIXED with stop column still works.
  tests/test_validation/test_validate_dataset.py
Due: ruff-format, ruff-lint

Removing unused files, and ensure things are cleaned up correctly
  .gitignore
  tests/resources/validation/steps/dataset_validator/test_data.py
Due: ruff-format, ruff-lint

Updated docs with clarification to new FIXED datasets
  README.md
  docs/examples/BEFOLKNING_KJOENN/BEFOLKNING_KJOENN.csv
  docs/index.md
  docs/metadata-model.md
Due: none

Bumping
  pyproject.toml
  uv.lock
Due: uv-lock

Ruff format
  tests/test_validation/steps/test_metadata_enricher.py
Due: ruff-format, ruff-lint

Format files with ruff format.
  README.md
  docs/USAGE.md
  docs/index.md
Due: none

removing unused libraries
  pyproject.toml
  uv.lock
Due: uv-lock

fix: ensure database connection is properly closed in dataset_validator
  microdata_tools/validation/steps/dataset_validator.py
Due: ruff-format, ruff-lint

Bump MINOR version from 2.0.1 => 2.1.0
  pyproject.toml
  uv.lock
Due: uv-lock

Use Less RAM in Validation #105 (#138)
  .gitignore
  microdata_tools/validation/__init__.py
  microdata_tools/validation/adapter/local_storage.py
  microdata_tools/validation/steps/data_reader.py
  microdata_tools/validation/steps/dataset_validator.py
  pyproject.toml
  tests/test_data.py
  tests/test_validation/steps/test_data_reader.py
  tests/test_validation/steps/test_dataset_validator.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

fix: correct indentation
  microdata_tools/validation/steps/data_reader.py
Due: ruff-format, ruff-lint

Format with ruff
  microdata_tools/validation/steps/data_reader.py
Due: ruff-format, ruff-lint

Update bump version to 2.2.0
  pyproject.toml
  uv.lock
Due: uv-lock

Optional stop for fixed (#149)
  .gitignore
  README.md
  docs/examples/BEFOLKNING_KJOENN/BEFOLKNING_KJOENN.csv
  docs/index.md
  docs/metadata-model.md
  microdata_tools/validation/steps/data_reader.py
  microdata_tools/validation/steps/dataset_validator.py
  microdata_tools/validation/steps/metadata_enricher.py
  pyproject.toml
  tests/resources/validation/steps/data_reader/FIXED.csv
  tests/resources/validation/steps/data_reader/FIXED_DEPRECATED_STOP.csv
  tests/resources/validation/steps/dataset_validator/test_data.py
  tests/resources/validation/steps/metadata_enricher/VALID_FIXED_METADATA.json
  tests/resources/validation/validate_dataset/expected/LEGACY_FIXED.json
  tests/resources/validation/validate_dataset/input_directory/LEGACY_FIXED/LEGACY_FIXED.csv
  tests/resources/validation/validate_dataset/input_directory/LEGACY_FIXED/LEGACY_FIXED.json
  tests/resources/validation/validate_dataset/input_directory/SYNT_PERSON_MOR/SYNT_PERSON_MOR.csv
  tests/test_data.py
  tests/test_validation/steps/test_data_reader.py
  tests/test_validation/steps/test_dataset_validator.py
  tests/test_validation/steps/test_metadata_enricher.py
  tests/test_validation/test_validate_big_datasets.py
  tests/test_validation/test_validate_dataset.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

better_error_message: Update metadata_reader.py
  microdata_tools/validation/steps/metadata_reader.py
Due: ruff-format, ruff-lint

better_error_message: line breaks
  microdata_tools/validation/steps/metadata_reader.py
Due: ruff-format, ruff-lint

better_error_message: trailing whitespace
  microdata_tools/validation/steps/metadata_reader.py
Due: ruff-format, ruff-lint
