Repository statisticsnorway/microdata-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, uv-lock

ruff-format:
  name: Ruff Format
  entry: uv run ruff format
  language: system
  args:
  - --check

ruff-lint:
  name: Ruff Lint
  entry: uv run ruff check
  language: system
  args:
  - --force-exclude
  - --fix

uv-lock:
  name: Sync uv Lock
  entry: uv sync
  language: system
  pass_filenames: false

better_error_message: update tests
  microdata_tools/validation/steps/metadata_reader.py
  tests/test_validation/steps/test_metadata_reader.py
Due: ruff-format, ruff-lint

Upgrade pyarrow to 25.0.1
  pyproject.toml
  uv.lock
Due: uv-lock

Bump microdata-tools version to 2.2.1
  pyproject.toml
  uv.lock
Due: uv-lock

Upgrade Pyarrow and bump Microdata-tools version to 2.2.1 (#152)
  pyproject.toml
  uv.lock
Due: uv-lock

better_error_message: bump to 2.2.2
  pyproject.toml
Due: uv-lock

better_error_message: Update metadata_reader.py (#151)
  microdata_tools/validation/steps/metadata_reader.py
  pyproject.toml
  tests/test_validation/steps/test_metadata_reader.py
Due: ruff-format, ruff-lint, uv-lock

Improve metadata descriptions
  docs/metadata-model.md
Due: none

Clean up readme
  README.md
Due: none

Move description of the data file format and validation rules to its own docs-page
  README.md
  docs/data-file-format.md
  docs/metadata-model.md
Due: none

Clean up index and usage and merge both into one getting started guide
  docs/USAGE.md
  docs/index.md
Due: none

Separate docs page for describing the packaging format
  docs/packaging-format.md
Due: none

Update mkdocs navigation
  mkdocs.yml
Due: none

Added some notes, updates and fixes
  docs/data-file-format.md
  docs/examples/BEFOLKNING_INNTEKT/BEFOLKNING_INNTEKT.json
  docs/examples/BEFOLKNING_KJOENN/BEFOLKNING_KJOENN.csv
  docs/metadata-model.md
  docs/packaging-format.md
  mkdocs.yml
Due: none

BUMP patch version from 2.2.2 => 2.2.3
  pyproject.toml
  uv.lock
Due: uv-lock

Dependency upgrades
  pyproject.toml
  uv.lock
Due: uv-lock

Bump PATCH version from 2.2.2 => 2.2.3
  pyproject.toml
  uv.lock
Due: uv-lock

Bump PATCH version from 2.2.3 => 2.2.4
  pyproject.toml
  uv.lock
Due: uv-lock

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  uv-lock: any of: ^(pyproject.toml|uv.lock)$
