Repository statisticsnorway/microdata-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, uv-lock

ruff-format:
  name: Ruff Format
  entry: uv run ruff format
  language: system
  args:
  - --check

ruff-lint:
  name: Ruff Lint
  entry: uv run ruff check
  language: system
  args:
  - --force-exclude
  - --fix

uv-lock:
  name: Sync uv Lock
  entry: uv sync
  language: system
  pass_filenames: false

Document OOM
  report/oom.md
Due: none

typo
  report/oom.md
Due: none

actions: update to use newer Node
  .github/workflows/docs-deploy.yml
  .github/workflows/pr-test.yaml
  .github/workflows/test-and-publish.yaml
  uv.lock
Due: uv-lock

Bump version 1.12.0 => 1.12.1 PATCH
  pyproject.toml
Due: uv-lock

Revert "Bump version 1.12.0 => 1.12.1 PATCH"
  pyproject.toml
Due: uv-lock

Update uv.lock
  uv.lock
Due: uv-lock

version bump
  pyproject.toml
Due: uv-lock

Bump version from 1.12.0 to 1.12.1
  pyproject.toml
Due: uv-lock

uv sync upgrade
  uv.lock
Due: uv-lock

wip
  microdata_tools/validation/steps/dataset_accumulated_validator.py
  pytest.ini
  report/oom.md
  scripts/find_oom.sh
  scripts/perf_once.sh
  tests/test_validation/test_validate_big_datasets.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

clean up
  microdata_tools/validation/steps/mem_watcher.py
  tests/log_setup.py
Due: ruff-format, ruff-lint

Replace RSA key encryption with ML-KEM
  README.md
  docs/index.md
  microdata_tools/packaging/__init__.py
  microdata_tools/packaging/_decrypt.py
  microdata_tools/packaging/_encrypt.py
  microdata_tools/packaging/_utils.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

Refactor package/unpackage tests for ML-KEM
  tests/conftest.py
  tests/resources/packaging/expected_unpackage/VALID_expected.csv
  tests/resources/packaging/input_unpackage/MISSING_CHUNK.tar
  tests/resources/packaging/input_unpackage/MISSING_KEM.tar
  tests/resources/packaging/input_unpackage/MISSING_SYMKEY.tar
  tests/resources/packaging/input_unpackage/VALID.tar
  tests/resources/packaging/rsa_test_key/microdata_private_key.pem
  tests/test_packaging/test_package_dataset.py
  tests/test_packaging/test_unpackage_dataset.py
Due: ruff-format, ruff-lint

Add test for failing to unpackage with wrong private key
  tests/conftest.py
  tests/test_packaging/test_unpackage_dataset.py
Due: ruff-format, ruff-lint

Stream CSV files directly to Parquet files instead of reading everything into memory. https://github.com/statisticsnorway/microdata-tools/issues/105
  .gitignore
  microdata_tools/packaging/_encrypt.py
  microdata_tools/validation/__init__.py
  microdata_tools/validation/_utils.py
  microdata_tools/validation/steps/data_reader.py
  tests/conftest.py
  tests/resources/validation/steps/dataset_validator/test_data.py
  tests/test_data.py
  tests/test_packaging/test_package_dataset.py
  tests/test_packaging/test_unpackage_dataset.py
  tests/test_validation/steps/test_data_reader.py
  tests/test_validation/steps/test_dataset_validator.py
  tests/test_validation/test_validate_big_datasets.py
  tests/test_validation/test_validate_dataset.py
Due: ruff-format, ruff-lint

new_unit_type_procedure: added new unit type
  microdata_tools/validation/components/unit_id_types.py
  microdata_tools/validation/components/unit_type_variables/NPR_PROSEDYRE.json
  microdata_tools/validation/model/metadata.py
Due: ruff-format, ruff-lint

new_unit_type_procedure: bumped MINOR version
  pyproject.toml
  uv.lock
Due: uv-lock

new_unit_type_procedure: added missing load
  microdata_tools/validation/components/unit_type_variables/__init__.py
Due: ruff-format, ruff-lint

New unit type procedure (#119)
  microdata_tools/validation/components/unit_id_types.py
  microdata_tools/validation/components/unit_type_variables/NPR_PROSEDYRE.json
  microdata_tools/validation/components/unit_type_variables/__init__.py
  microdata_tools/validation/model/metadata.py
  pyproject.toml
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

Use hybrid ML-KEM-768/X25519 for HPKE encryption
  README.md
  docs/index.md
  microdata_tools/packaging/__init__.py
  microdata_tools/packaging/_decrypt.py
  microdata_tools/packaging/_encrypt.py
  microdata_tools/packaging/_utils.py
  tests/conftest.py
  tests/test_packaging/test_package_dataset.py
  tests/test_packaging/test_unpackage_dataset.py
Due: ruff-format, ruff-lint

Added tests for loading key utils
  tests/test_packaging/test_utils.py
Due: ruff-format, ruff-lint

fix_validation_bug: add new unit test
  tests/resources/validation/steps/dataset_validator/test_data.py
  tests/test_validation/steps/test_dataset_validator.py
Due: ruff-format, ruff-lint

fix_validation_bug: fix comparison
  microdata_tools/validation/steps/dataset_validator.py
Due: ruff-format, ruff-lint

fix_validation_bug: bump PATCH for bugfix
  pyproject.toml
  uv.lock
Due: uv-lock

Replaced Fernet symmetric key with AES-256-GCM
  README.md
  docs/index.md
  microdata_tools/packaging/_decrypt.py
  microdata_tools/packaging/_encrypt.py
Due: ruff-format, ruff-lint

Fix validation bug (#121)
  microdata_tools/validation/steps/dataset_validator.py
  pyproject.toml
  tests/resources/validation/steps/dataset_validator/test_data.py
  tests/test_validation/steps/test_dataset_validator.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

PublicKey and PrivateKey classes with methods for key generation, serialization, write to and read from file, and convertion to hpke key objects
  microdata_tools/__init__.py
  microdata_tools/keys/__init__.py
  microdata_tools/packaging/_decrypt.py
  microdata_tools/packaging/_encrypt.py
  microdata_tools/packaging/_utils.py
  tests/conftest.py
  tests/test_keys/test_keys.py
  tests/test_packaging/test_unpackage_dataset.py
Due: ruff-format, ruff-lint

Add PublicKey.from_pem() method for datastore-api use
  microdata_tools/keys/__init__.py
Due: ruff-format, ruff-lint

Avoid duplication of cryptographic config
  microdata_tools/packaging/_crypto_config.py
  microdata_tools/packaging/_decrypt.py
  microdata_tools/packaging/_encrypt.py
Due: ruff-format, ruff-lint

Make keys a submodule to packaging
  microdata_tools/__init__.py
  microdata_tools/packaging/_decrypt.py
  microdata_tools/packaging/_encrypt.py
  microdata_tools/packaging/keys.py
  tests/conftest.py
  tests/test_packaging/test_keys.py
Due: ruff-format, ruff-lint

BUMP MAJOR version => 2.0.0
  pyproject.toml
  uv.lock
Due: uv-lock

updating actions with dependabot
  .github/dependabot.yml
Due: none

Pin all actions with sha ref
  .github/workflows/docs-deploy.yml
  .github/workflows/pr-test.yaml
  .github/workflows/test-and-publish.yaml
Due: none

pin to latest
  .github/workflows/test-and-publish.yaml
Due: none

Stream CSV files directly to Parquet files instead of reading everything into memory #105
  .gitignore
  microdata_tools/validation/__init__.py
  microdata_tools/validation/steps/data_reader.py
  tests/conftest.py
  tests/test_data.py
  tests/test_packaging/test_package_dataset.py
  tests/test_packaging/test_unpackage_dataset.py
  tests/test_validation/steps/test_data_reader.py
  tests/test_validation/steps/test_dataset_validator.py
  tests/test_validation/test_validate_big_datasets.py
  tests/test_validation/test_validate_dataset.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  uv-lock: any of: ^(pyproject.toml|uv.lock)$
