Repository statisticsnorway/microdata-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-lint, uv-lock

ruff-format:
  name: Ruff Format
  entry: uv run ruff format
  language: system
  args:
  - --check

ruff-lint:
  name: Ruff Lint
  entry: uv run ruff check
  language: system
  args:
  - --force-exclude
  - --fix

uv-lock:
  name: Sync uv Lock
  entry: uv sync
  language: system
  pass_filenames: false

Updated codeList - new codes
  microdata_tools/validation/components/unit_type_variables/KOMMUNE.json
Due: none

Updated to version 1.10.3
  pyproject.toml
Due: uv-lock

Updated codeList - new codes (#90)
  microdata_tools/validation/components/unit_type_variables/KOMMUNE.json
  pyproject.toml
Due: uv-lock

pin_actions: better security
  .github/workflows/pr-test.yaml
  .github/workflows/test-and-publish.yaml
Due: none

dependency_cooldown: add 3 days cooldown and update dependencies
  pyproject.toml
  uv.lock
Due: uv-lock

dependency_cooldown: add 3 days cooldown and update dependencies (#93)
  pyproject.toml
  uv.lock
Due: uv-lock

Trusted publisher
  .github/workflows/test-and-publish.yaml
Due: none

update_dependencies_2026_02_16: update lockfile and bump patch version
  pyproject.toml
  uv.lock
Due: uv-lock

update_dependencies_2026_02_16: update lockfile and bump patch version (#96)
  pyproject.toml
  uv.lock
Due: uv-lock

simplify_dependency_resolution: fix cryptography
  pyproject.toml
  uv.lock
Due: uv-lock

simplify_dependency_resolution: bump patch version
  pyproject.toml
Due: uv-lock

simplify_dependency_resolution: fix cryptography (#97)
  pyproject.toml
  uv.lock
Due: uv-lock

Add support for Python 3.14
  .github/workflows/pr-test.yaml
  .github/workflows/test-and-publish.yaml
  .gitignore
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version 1.10.6 => 1.10.7 PATCH
  pyproject.toml
  uv.lock
Due: uv-lock

Remove support for Python 3.9
  .github/workflows/pr-test.yaml
  .github/workflows/test-and-publish.yaml
  pyproject.toml
  uv.lock
Due: uv-lock

Bump version 1.10.7 => 1.10.8 PATCH
  pyproject.toml
  uv.lock
Due: uv-lock

WIP
  .gitignore
  README.md
  microdata_tools/validation/__init__.py
  microdata_tools/validation/steps/data_reader.py
  microdata_tools/validation/steps/dataset_validator.py
  pyproject.toml
  pytest.ini
  scripts/focus_once.sh
  scripts/focus_watch.sh
  scripts/perf_info.py
  scripts/perf_once.sh
  scripts/perf_watch.sh
  tests/conftest.py
  tests/test_validation/test_validate_big_datasets.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

Fix logging
  .gitignore
  scripts/focus_watch.sh
  scripts/perf_info.py
  scripts/perf_once.sh
  scripts/perf_watch.sh
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

Log performance for 190M rows: total validate_dataset speed: 237.9 MB/s
  microdata_tools/validation/__init__.py
  microdata_tools/validation/steps/data_reader.py
  perfnotes/perfnotes1.txt
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

90M rows is 12.5% faster per MB than a 196M rows
  perfnotes/perfnotes2.txt
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

updates: update pyarrow and numpy
  pyproject.toml
  uv.lock
Due: uv-lock

updates: bump version 1.10.8 => 1.11.0 MINOR
  pyproject.toml
  uv.lock
Due: uv-lock

Log memory usage. It seems scalene is incorrect?
  pyproject.toml
  tests/test_validation/test_validate_big_datasets.py
  uv.lock
Due: ruff-format, ruff-lint, uv-lock

WIP
  microdata_tools/validation/steps/dataset_accumulated.py
Due: ruff-format, ruff-lint

WIP
  microdata_tools/validation/steps/reader_utils.py
Due: ruff-format, ruff-lint

WIP
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

WIP
  scripts/perf_once.sh
  scripts/perf_watch.sh
  tests/conftest.py
Due: ruff-format, ruff-lint

WIP
  microdata_tools/validation/__init__.py
  microdata_tools/validation/steps/dataset_accumulated.py
Due: ruff-format, ruff-lint

Clean up
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

Prettier output
  microdata_tools/validation/steps/dataset_accumulated.py
  tests/test_validation/test_validate_big_datasets.py
Due: ruff-format, ruff-lint

Path conditions:
  ruff-format: any of: \.py$
  ruff-lint: any of: \.py$
  uv-lock: any of: ^(pyproject.toml|uv.lock)$
